@import "lib/govuk-frontend/dist/govuk/base";

body:has(.sdec-dashboard-page) {
  .govuk-width-container {
    max-width: 1200px;
  }
}

.sdec-dashboard-header {
  display: flex;
  justify-content: flex-end;
}

.sdec-workspace-table {
  width: 100%;
}

.sdec-priority-column {
  text-align: right;
}

.table-scroll-wrapper {
  width: 100%;
  overflow-x: auto;
}

.govuk-service-navigation {
  border-bottom-color: #8eb8dc;
  background-color: #f4f8fb;

  @include govuk-media-query($from: tablet) {
    .govuk-service-navigation__item,
    .govuk-service-navigation__service-name {
      padding-top: 15px;
      padding-bottom: 15px;
      line-height: 1.5263157895;
    }

    .govuk-service-navigation__item--active {
      padding-bottom: 10px;
    }
  }
}

.hmrc-internal-header__service-name {
  margin-left: auto;
  text-align: right;
}

.sdec-recipient-banner {
  background-color: #8eb8dc;
  padding: govuk-spacing(3);
  margin-bottom: govuk-spacing(6);

  &__details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: govuk-spacing(3);

    @include govuk-media-query($until: tablet) {
      grid-template-columns: 1fr;
    }
  }
}

.sdec-thread-response-banner {
  background-color: #dbe7f3;
  border-left: 5px solid #1d70b8;
  padding: 15px;
  margin-bottom: 20px;
}