@import "lib/govuk-frontend/dist/govuk/base";

.sdec-dashboard-header {
  display: flex;
  justify-content: flex-end;
}

.sdec-workspace-table {
  width: 100%;
  white-space: nowrap;

  .govuk-table__header,
  .govuk-table__cell {
    padding: 8px 12px;

    &:first-child {
      padding-left: 0;
    }
  }
}

.sdec-priority-column {
  text-align: right;
}

.sdec-navigation {
  position: relative;
  left: 50%;
  width: 100vw;
  margin-left: -50vw;
  border-bottom: 1px solid #b1b4b6;
  background-color: #eaf4fb;

  &__container {
    display: flex;
    align-items: center;
    gap: 80px;
    padding-top: 9px;
    padding-bottom: 9px;
  }

  &__link {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.hmrc-internal-header__service-name {
  margin-left: auto;
  text-align: right;
}

.table-scroll-wrapper {
  width: 100%;
  overflow-x: auto;
}